container{
    max-width: 300px;
    margin: auto;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 20px 0;
    gap: 50px;
 }
 .container-task{
    background-color:#212529;
    padding: 15px;
    border-radius: 15px;
 }
 .nes-field.is-inline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .nes-field.is-inline label{
    text-align: center;
    margin: 0;
    padding: 0;
 }
 .Cadastrar_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px
 }
 .btn-title{
    margin-top: 20px;
 }
@media (min-width:744px){
    container{
        width: 744px
    }
    .container-task{
        width: 500px;
    }
}
@media (min-width:1000px){
    container{
        width: 100%;
    }
    .container-task{
        width: 744px;
    }
}